.search-container {
      padding: 4rem;
      background-color: whitesmoke;
}

.navbar-item {
      margin-right: 15px;
          
}
.navigation {
      background-color: lightgray;
      
      font-size: 16px;
}

.navbar-start img{
      height: 100px;
}

