.search-container {
      padding: 4rem;
      background-color: whitesmoke;
}

.navbar-item {
      margin-right: 15px;
      
      
}
.navigation {
      background-color: lightgray;
      height: 100px;
      font-size: 16px;

}

